body{
    margin: 0;
    background-color: #F6F8F9 ;
}

#site_header {
    background-color: white;
    display: block;
    
    
}
    
.logo {
    background-color: white;
      height: 7rem;
      vertical-align: middle;
      
  }
.logo_text{
    background-color: white;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;;
    font-weight: 800;
    vertical-align: middle

}

main{
    margin-top: 4em;
    margin-left: 12em;
    margin-right: 12em;  

}

.Buttons{
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 4em;
    padding-top: 1,5em;

    background-color: white;

}

.button_task{
    color: white;
    background-color: #14AAF5 ;
    border-radius: 8px;
    padding: 12px 28px;
    border: none;
    
    
}

.button_section{
    color: #CFD5D9;
    background-color:white ;
    border-radius: 8px;
    padding: 12px 28px;
    border:0.1px solid #CFD5D9;
   
}