body{
    margin: 0;
    background-color: #F6F8F9 ;
}

#site_header {
    background-color: white;
    display: block;
    
    
}
    
.logo {
    background-color: white;
      height: 7rem;
      vertical-align: middle;
      
  }
.logo_text{
    background-color: white;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;;
    font-weight: 800;
    vertical-align: middle;
   

}

main{
    margin-top: 4rem;
    margin-left: 12rem;
    margin-right: 12rem;  

}

.Buttons{
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 4rem;
    padding-top: 1,5rem;

    background-color: white;

}

.button_task{
    color: white;
    background-color: #14AAF5 ;
    border-radius: 8px;
    padding: 12px 28px;
    border: none;
    
    
}

.button_section{
    color: #CFD5D9;
    background-color:white ;
    border-radius: 8px;
    padding: 12px 28px;
    border:0.1px solid #CFD5D9;
   
}

.tasks{
    font-family: 'Roboto', sans-serif;;
    font-weight: 600;
    margin-top: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 4rem;
    padding-top: 1,5rem;
    background-color: white;
    color: #4A4F58;
}
 
.new_task{
    padding-top: 10px;
  

}
.circle-checkmark {
    color: #2CC6AB;
    border: 1px solid #2CC6AB;
    padding: 1px 4px;
    border-radius: 50%;
  }

 .circle-ballot{
    color: #bb2c2c;
    border: 1px solid #bb2c2c;
    padding: 1px 4px;
    border-radius: 50%;

 }

  .Contenit{
    color: rgb(255, 255, 255);
    background-color: #14AAF5;
    border: 1px solid #14AAF5 ;
    padding: 6px 10px;
    border-radius: 20%;
  }
  .Contenit1{
    color: rgb(255, 255, 255);
    background-color: #AB5DE6;
    border: 1px solid #AB5DE6 ;
    padding: 6px 10px;
    border-radius: 20%;
  }

  .Contenit2{
    color: rgb(255, 255, 255);
    background-color: #2CC6AB;
    border: 1px solid #2CC6AB ;
    padding: 6px 10px;
    border-radius: 20%;
  }
  .Contenit3{
    color: rgb(255, 255, 255);
    background-color: #FF9B00;
    border: 1px solid #FF9B00;
    padding: 6px 10px;
    border-radius: 20%;
  }
